{% extends "template.html" %}

{% block name %} - Reference - {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/reference.css">
{% endblock %}

{% block content %}
<div class="links">
    <a href="https://polygon.io/dashboard" target="_blank">
        <div class="link-item">
            <h3>Polygon.io</h3>
            <p>API Data Provider (Login is with Github)</p>
        </div>
    </a>
    <a href="https://developer.schwab.com/dashboard/apps" target="_blank">
        <div class="link-item">
            <h3> Schwab Dev Portal</h3>
            <p> Schwab API Documentation and account management</p>
        </div>
    </a>
    <a href=https://tylerebowers.github.io/Schwabdev/?source=pages%2Fwelcome.html target="_blank">
        <div class="link-item">
            <h3> Schwab Dev Docs</h3>
            <p> Schwab API Wrapper Documentation</p>
        </div>
    </a>
    <a href=https://finviz.com/ target="_blank">
        <div class="link-item">
            <h3> Finviz</h3>
            <p> Stock Screener and Financial News</p>
        </div>
    </a>
    <a href="https://shner-elmo.github.io/TradingView-Screener/3.0.0/tradingview_screener.html" target="_blank">
        <div class="link-item">
            <h3> TradingView Screener Docs</h3>
            <p> Stock Screener Python Library with TradingView</p>
        </div>
    </a>
    <a href="https://github.com/timescale/timescaledb" target="_blank">
        <div class="link-item">
            <h3> TimescaleDB Github</h3>
            <p> Time Series Database for storing stock data</p>
        </div>
    </a>
    <a href="https://site.financialmodelingprep.com/developer/docs/dashboard" target="_blank">
        <div class="link-item">
            <h3> Financial Modeling Prep</h3>
            <p> API for financial data and stock market information</p>
        </div>
    </a>
    <a href="https://matplotlib.org/cheatsheets/_images/cheatsheets-1.png" target="_blank">
        <div class="link-item">
            <h3> Matplotlib Cheat Sheet</h3>
            <p> Quick reference for Matplotlib plotting library</p>
        </div>
</div>
{% endblock %}
