{% extends "template.html" %}

{% block name %} - Reference - {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/reference.css">
{% endblock %}

{% block content %}
<div class="links">
    <a href="https://polygon.io/dashboard" target="_blank">
        <div class="link-item">
            <h3>Polygon.io</h3>
            <p>API Data Provider (Login is with Github)</p>
        </div>
    </a>
    <a href="https://developer.schwab.com/dashboard/apps" target="_blank">
        <div class="link-item">
            <h3> Schwab Dev Portal</h3>
            <p> Schwab API Documentation and account management</p>
        </div>
    </a>
    <a href=https://tylerebowers.github.io/Schwabdev/?source=pages%2Fwelcome.html target="_blank">
        <div class="link-item">
            <h3> Schwab Dev Docs</h3>
            <p> Schwab API Wrapper Documentation</p>
        </div>
    </a>
    <a href=https://finviz.com/ target="_blank">
        <div class="link-item">
            <h3> Finviz</h3>
            <p> Stock Screener and Financial News</p>
        </div>
    </a>
    <a href="https://shner-elmo.github.io/TradingView-Screener/3.0.0/tradingview_screener.html" target="_blank">
        <div class="link-item">
            <h3> TradingView Screener Docs</h3>
            <p> Stock Screener Python Library with TradingView</p>
        </div>
    </a>
    <a href="https://site.financialmodelingprep.com/developer/docs/dashboard" target="_blank">
        <div class="link-item">
            <h3> Financial Modeling Prep</h3>
            <p> API for financial data and stock market information</p>
        </div>
    </a>
    <a href="https://matplotlib.org/cheatsheets/_images/cheatsheets-1.png" target="_blank">
        <div class="link-item">
            <h3> Matplotlib Cheat Sheet</h3>
            <p> Quick reference for Matplotlib plotting library</p>
        </div>
    </a>
    <a href="https://pandas.pydata.org/docs/user_guide/index.html" target="_blank">
        <div class="link-item">
            <h3> Pandas User Guide</h3>
            <p> Comprehensive guide to the Pandas library</p>
        </div>
    </a>
    <a href="https://console.cloud.google.com/home/dashboard?inv=1&invt=Ab4dLQ&project=quack-325111" target="_blank">
        <div class="link-item">
            <h3> Google Cloud Console</h3>
            <p> Manage your Google Cloud resources and services</p>
        </div>
    </a>
    <a href="https://docs.xarray.dev/en/stable/user-guide/index.html" target="_blank">
        <div class="link-item">
            <h3> Xarray User Guide</h3>
            <p> Documentation for the Xarray library for N-dimensional arrays</p>
        </div>
    </a>
    <a href='https://crontab.guru/' target="_blank">
        <div class="link-item">
            <h3> Crontab Guru</h3>
            <p> A simple tool to help you write cron schedules</p>
        </div>
    </a>
    <a href='https://github.com/GillsSpace/Quant_Trading' target="_blank">
        <div class="link-item">
            <h3> Quant Trading GitHub</h3>
            <p> Source code repository for the Quant Trading project</p>
        </div>
    </a>
    <a href='https://cloud.google.com/appengine/docs/legacy/standard/python/googlecloudstorageclient/read-write-to-cloud-storage' target="_blank">
        <div class="link-item">
            <h3> Google Cloud Storage Docs for Python</h3>
            <p> Documentation for reading and writing to Google Cloud Storage with Python</p>
        </div>
    </a>

</div>
{% endblock %}
