<!DOCTYPE html>
<html>

<head>
    <title>Quant Trading Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="header">
        <div class="header-icon">
            <span class="material-icons">trending_up</span>
            <h1><a href="/"> Quant Trading Dashboard</a></h1>
        </div>
        <h2> {% block name %}{% endblock %} </h2>
        <p id="time"></p>
    </div>
    <div class="header-div"></div>
    <div class="main-links">
        <a href="/reference"> Reference </a>
        <a href="/data_main"> Data </a>
        <a href="/API_main"> API </a>
    </div>

    {% block content %}{% endblock %}

</body>

</html>
